.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 45px 0 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: $white;
  background-color: $black;

  &__pusher {
    display: block;
    pointer-events: auto;
  }

  nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 90px;

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      max-width: 220px;
      max-height: 200px;

      @include r($lg) {
        max-width: 180px;
      }

      @include r($sm) {
        max-width: 130px;
      }
    }

    li {
      margin-right: 20px;
      width: 100%;
      font-weight: 600; // Dima Z
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      transition: color 0.2s;

      a {
        transition: color 0.2s;
      }

      &:hover {
        a {
          text-decoration: none;
          color: $green;
        }
      }

      @include r($lg) {
        margin-right: 15px;
      }

      @include r($sm) {
        margin-right: 10px;
      }

      @include r($lg) {
        font-size: 28px;
        line-height: 36px;
      }

      @include r($md) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .active {
      color: $green;
    }

    @include r($md) {
      margin-bottom: 34px;
    }
  }

  .footer-back {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    cursor: pointer;

    .move-text {
      display: inline-block;
      margin-right: 12px;
      height: 16px;
      overflow: hidden;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      .letter {
        display: inline-block;
        transition: transform 0.4s ease-in-out;
      }
    }

    &:hover {
      .move-text {
        .letter {
          transform: translateY(-100%);
        }
      }

      .footer-back__dot {
        &::before {
          top: 50%;
        }

        &::after {
          top: -20%;
        }
      }
    }

    @include r($md) {
      display: none;
    }
  }

  .footer-back__dot {
    position: relative;
    width: 68px;
    height: 68px;
    overflow: hidden;
    border: 1px solid #4a4b54;
    border-radius: 50%;
    background-color: transparent;

    &::after,
    &::before {
      content: url("../images/arrow-white-top.svg");
      position: absolute;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease-in-out;
    }

    &::before {
      left: 50%;
      top: 120%;
    }

    &::after {
      left: 50%;
      top: 50%;
    }
  }

  &__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 27px;

    a {
      transition: color 0.2s;

      &:hover {
        text-decoration: none;
        color: $green;
      }
    }

    @include r($md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__rules {
    margin-right: auto;

    @include r($md) {
      margin-bottom: 68px;
    }
  }

  &__box-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include r($md) {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    border-top: 1px solid rgba($white, 0.5);

    p {
      opacity: 0.5;

      @include r($md) {
        margin-bottom: 7px;
      }
    }

    a {
      display: inline-block;
      opacity: 0.5;
      text-decoration: underline transparent !important;
      color: $white;
      transition: opacity 0.2s, text-decoration 0.2s;

      &:hover {
        opacity: 1;
        text-decoration-color: $white !important;
      }
    }

    @include r($md) {
      flex-direction: column;
    }
  }

  .footer-back__mobile {
    display: none;

    @include r($md) {
      position: absolute;
      right: 24px;
      bottom: 24px;
      display: block;
      padding: 0;
      width: 40px;
      height: 40px;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  .address {
    margin-right: 90px;

    @include r($md) {
      margin-right: 20px;
    }
  }

  @include r($lg) {
    padding: 35px 0 22px;
  }
}