html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $black;
    background-color: $grey-white;
}

.main {
    flex-grow: 1;
    background-color: $grey-white;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1422px;

    &--technical {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1552px;
    }

    &--large {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1878px;
    }

    &--footer {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1902px;
    }
}

.title {
    font-weight: 700;
    letter-spacing: -0.02em;
}