.header {
    padding: 23px 0 48px;
    background-color: $black;

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__items {
            display: flex;
        }

        &__item {
            position: relative;
            opacity: 0.25;
            font-weight: 700;
            line-height: 28px;
            color: $white;
            transition: opacity 0.2s;

            &:not(:last-child) {
                margin-right: 60px;
            }

            &:hover {
                opacity: 1;
            }
        }

        &__item-count {
            position: absolute;
            right: -19px;
            top: 0;
            font-size: 12px;
            line-height: 16px;
        }

        &__item--active {
            opacity: 1;
        }

        &__button {
            display: flex;
            align-items: center;
            padding: 0;
            max-height: 44px;
            border: 0;
            color: $white;
            background-color: transparent;
            cursor: pointer;
        }

        &__button-text {
            margin-right: 12px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
        }

        &__burger {
            position: relative;
            display: inline-block;
            padding: 21px;
            border: 1px solid rgba($white, 0.25);
            border-radius: 50%;

            &::after,
            &::before {
                content: "";
                position: absolute;
                left: 9px;
                width: 24px;
                height: 1px;
                background-color: $white;
            }

            &::before {
                top: 24px;
            }

            &::after {
                top: 17px;
            }
        }
    }
}