body {
  display: flex;
  flex-direction: column;
  counter-reset: section;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $black;
  background-color: $grey-white;
  cursor: default;
}

.scroll-none {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1248px;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }

  &--main {
    padding: 0 56px;
    max-width: 1454px;

    @include r($md) {
      padding: 0 24px;
    }
  }

  &--technical {
    padding: 0 36px;
    max-width: 1920px;

    @include r($lg) {
      padding: 0 24px;
    }
  }
}

.links {
  position: absolute;
  left: 20px;
  top: 200px;
  z-index: 100;
  padding: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #cb0e24;
  font-size: 20px;
  background-color: #cb0e24;
}

.bunch {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 100;
  display: none;
  flex-direction: column;
  padding: 8px;
  background-color: $white;

  a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: inherit;
  }

  &--active {
    display: block;
  }
}

.main {
  position: relative;
  z-index: 10;
  flex-grow: 1;
  margin: 0 0 -20px;
  border-radius: 20px;
  background-color: $grey-white;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle at 0 100%, transparent 20px, $black 21px);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle at 100% 100%, transparent 20px, $black 21px);
  }

  @include r($lg) {
    border-radius: 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.button-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  min-height: 52px;
  border: 2px solid $black;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $black;
  }

  @include r($lg) {
    margin: 0 auto;
  }
}

.date {
  display: flex;
  font-size: 12px;
  line-height: 16px;

  &__calendar {
    position: relative;
    padding-right: 28px;

    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      width: 12px;
      height: 1px;
      background-color: $black;
      transform: translateY(-50%);
    }
  }
}

*::selection {
  color: $white;
  background-color: $green;
}

.green-link {
  display: flex;
  max-width: fit-content;

  .move-text {
    display: inline-block;
    margin-right: 12px;
    height: 32px;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.01em;

    .letter {
      display: inline-block;
      transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
    }
  }

  .move-text__active {
    .letter {
      transform: translateY(-100%);
    }
  }

  svg {
    overflow: hidden;
    border-radius: 44%;

    path {
      transition: stroke 0.2s;
    }

    circle {
      transition: fill 0.2s;
    }
  }

  .arrow-towards {
    path {
      stroke: $white;
      animation: slotMachine 0.4s ease-in forwards;
    }

    circle {
      fill: $black;
    }
  }


  &:hover {
    text-decoration: none;
    color: inherit;

    svg {
      //path {
      //  stroke: $white;
      //  animation: slotMachine 0.4s ease-in forwards;
      //}
      //
      //circle {
      //  fill: $black;
      //}
    }
  }
}

.location {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: $grey-text;

  span {
    position: relative;

    &:not(:last-child) {
      margin-right: 25px;

      &::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $grey-text;
        transform: translateY(-50%);

        @include r($lg) {
          right: -8px;
          width: 2px;
          height: 2px;
        }
      }

      @include r($lg) {
        margin-right: 14px;
      }
    }
  }

  @include r($lg) {
    font-size: 14px;
    line-height: 20px;
  }
}

.job-type {
  display: flex;
  margin-bottom: 10px;

  p {
    padding: 7px 15px;
    border: 1px solid #2fba56;
    border-radius: 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.address {
  width: 100%;
  height: fit-content;
  max-width: 150px;
}

.more {
  display: flex;
  justify-content: space-between;
  margin: 0 36px 36px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    width: 100%;
    min-height: 472px;
    border-radius: 24px;
    background-color: $white;
    transition: background-color 0.2s;

    .green-link {
      margin: 0 auto;
      width: 100%;
      max-width: 376px;

      @include r($xl) {
        max-width: 300px;
      }

      @include r($lg) {
        max-width: 240px;
      }
    }

    h2 {
      margin: 0 auto 23px;
      width: 100%;
      max-width: 376px;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.02em;
      text-align: left;

      @include r($xl) {
        max-width: 300px;
        font-size: 40px;
        line-height: 48px;
      }

      @include r($lg) {
        margin: 0 auto 10px;
        max-width: 240px;
        font-size: 32px;
        line-height: 40px;
      }
    }

    svg {
      path {
        transition: stroke 0.2s;
      }

      circle {
        transition: fill 0.2s;
      }

      @include r($lg) {
        width: 32px;
        height: 32px;
      }
    }

    &:hover {
      background-color: $green;

      svg {
        circle {
          fill: $black;
        }

        path {
          stroke: $white;
        }
      }
    }

    &:first-child {
      margin: 0 24px 0 0;

      @include r($md) {
        margin: 0 0 24px;
      }
    }

    @include r($lg) {
      min-height: 328px;
      border-radius: 20px;
    }
  }

  @include r($xl) {
    margin: 0 24px 36px;
  }

  @include r($lg) {
    margin: 0 24px 24px;
  }

  @include r($md) {
    flex-direction: column;
    align-items: center;
  }
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 2px solid #2fba56;
  font-weight: 700;
  font-size: 32px;
}

.copied {
  position: absolute;
  top: 50px;
  z-index: 5;
  padding: 20px 131px 20px 56px;
  border-radius: 14px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.06);
  background-color: $white;

  &::after {
    content: url("../images/copied-done.svg");
    position: absolute;
    left: 20px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }

  p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  button {
    position: absolute;
    right: 16px;
    top: 50%;
    padding: 0;
    width: 16px;
    height: 16px;
    border: none;
    line-height: 16px;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &--hide {
    display: none;
  }
}

strong {
  font-weight: 700;
}

@keyframes slotMachine {
  50% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }

  51% {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dad-rich-text {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    color: inherit;
  }

  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
  }

  ul {
    li {
      font-size: 24px;
      line-height: 1.2;
    }
  }

  ol {
    li {
      font-size: 24px;
      line-height: 1.2;
    }
  }

  a {
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}