html,
body {
    height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    counter-reset: section;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: $black;
    background-color: $grey-white;
}

strong {
    font-weight: 700;
}

.main {
    flex-grow: 1;
    background-color: $grey-white;
}

.container {
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1248px;

    &--technical {
        padding: 0 36px;
        max-width: 1920px;
    }
}

.round {
    z-index: 1;
    margin: -24px 0;
    border-radius: 24px;
}

.round-thank {
    z-index: 1;
    margin: -24px 0 0;
    border-radius: 24px 24px 0 0;
}

.button-home {
    display: block;
    padding: 16px;
    max-width: 205px;
    border: 2px solid $black;
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 2px solid  #2fba56;
    font-weight: 700;
    font-size: 32px;
}
