body {
  display: flex;
  flex-direction: column;
  counter-reset: section;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $black;
  background-color: $grey-white;
  cursor: default;
}

button {
  outline: none;
}

.no-scroll {
  position: fixed;
  width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1248px;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }

  &--main {
    padding: 0 36px;
    max-width: 1586px;

    @include r($md) {
      padding: 0 24px;
    }
  }

  &--technical {
    padding: 0 36px;
    max-width: 1920px;

    @include r($lg) {
      padding: 0 24px;
    }
  }
}

.links {
  position: absolute;
  left: 20px;
  top: 200px;
  z-index: 100;
  padding: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #cb0e24;
  font-size: 20px;
  background-color: #cb0e24;
}

.bunch {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 100;
  display: none;
  flex-direction: column;
  padding: 8px;
  background-color: $white;

  a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: inherit;
  }

  &--active {
    display: block;
  }
}

.main {
  position: relative;
  z-index: 10;
  flex-grow: 1;
  margin: 0 0 -20px;
  border-radius: 20px;
  background-color: $grey-white;

  @include r($lg) {
    border-radius: 20px;
  }
}

.button-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  min-height: 52px;
  border: 2px solid $black;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $black;
  }

  @include r($lg) {
    margin: 0 auto;
  }

  @include r($xl) {
    width: 180px;
    min-height: 45px;
  }
}

.date {
  display: flex;
  font-size: 12px;
  line-height: 16px;

  &__calendar {
    position: relative;
    padding-right: 28px;

    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      width: 12px;
      height: 1px;
      background-color: $black;
      transform: translateY(-50%);
    }
  }
}

*::selection {
  color: $white;
  background-color: $green;
}

.green-link {
  display: flex;
  max-width: fit-content;

  .move-text {
    display: inline-block;
    margin-right: 12px;
    height: 32px;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px; // NEED
    letter-spacing: -0.01em;

    .letter {
      display: inline-block;
      transition: transform 0.4s ease-in-out;
    }
  }

  .move-arrow {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    background-color: $green;

    &::after,
    &::before {
      content: url("../images/arrow-transform.svg");
      position: absolute;
      left: 8px;
      top: 8px;
      width: 16px;
      height: 16px;
      font-size: 0;
      line-height: 16px;
      transition: all 0.4s ease-in-out;
    }

    &::before {
      transform: translate(-130%, 100%);
    }
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;

    .move-text {
      .letter {
        transform: translateY(-100%);
      }
    }

    .move-arrow {
      &::before {
        transform: translate(0);
      }

      &::after {
        transform: translate(140%, -130%);
      }
    }
  }
}

.location {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: $grey-text;

  span {
    position: relative;

    &:not(:last-child) {
      margin-right: 25px;

      &::after {
        content: "";
        position: absolute;
        right: -15px;
        top: 50%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $grey-text;
        transform: translateY(-50%);

        @include r($lg) {
          right: -8px;
          width: 2px;
          height: 2px;
        }
      }

      @include r($lg) {
        margin-right: 14px;
      }
    }
  }

  @include r($lg) {
    font-size: 14px;
    line-height: 20px;
  }
}

.job-type {
  display: flex;
  margin-bottom: 10px;

  p {
    padding: 7px 15px;
    border: 1px solid #2fba56;
    border-radius: 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.address {
  width: 100%;
  height: fit-content;
  max-width: 150px;
}

.more {
  display: flex;
  justify-content: space-between;
  margin: 0 36px 36px;

  li {
    width: 100%;

    .more__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      width: 100%;
      min-height: 472px;
      border-radius: 24px;
      background-color: $white;
      transition: background-color 0.2s;

      .green-link {
        display: flex;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 325px;
        border: none;

        .move-text {
          font-weight: 400;
        }

        @include r($xl) {
          max-width: 300px;
        }

        @include r($lg) {
          max-width: 240px;
        }
      }

      h2 {
        margin: 0 auto 23px;
        width: 100%;
        max-width: 325px;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.02em;
        text-align: left;

        @include r($xl) {
          max-width: 300px;
          font-size: 40px;
          line-height: 48px;
        }

        @include r($lg) {
          margin: 0 auto 10px;
          max-width: 240px;
          font-size: 32px;
          line-height: 40px;
        }
      }

      &:visited {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        text-decoration: none;
        color: inherit;
        background-color: $green;

        .move-arrow {
          background-color: $black;

          &::after,
          &::before {
            content: url("../images/arrow-transform-white.svg");
          }
        }

        .green-link {
          color: inherit;

          .move-text {
            .letter {
              transform: translateY(-100%);
            }
          }

          .move-arrow {
            &::before {
              transform: translate(0);
            }

            &::after {
              transform: translate(140%, -130%);
            }
          }
        }
      }

      @include r($lg) {
        min-height: 328px;
        border-radius: 20px;
      }
    }

    &:first-child {
      margin: 0 24px 0 0;
      animation: 1s fade;

      @include r($md) {
        margin: 0 0 24px;
      }
    }

    &:last-child {
      animation: 1.2s fade;
    }
  }

  @include r($xl) {
    margin: 0 24px 36px;
  }

  @include r($lg) {
    margin: 0 24px 24px;
  }

  @include r($md) {
    flex-direction: column;
    align-items: center;
  }
}

blockquote {
  margin: 85px auto 76px;
  padding: 0 0 0 20px;
  max-width: 680px;
  border-left: 2px solid #2fba56;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.copied {
  position: absolute;
  top: 50px;
  z-index: 5;
  padding: 20px 131px 20px 56px;
  border-radius: 14px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.06);
  background-color: $white;

  &::after {
    content: url("../images/copied-done.svg");
    position: absolute;
    left: 20px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }

  p {
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: inherit;

    &:visited,
    &:active,
    &:target, {
      outline: none;
      color: inherit;
    }

    &:focus {
      outline: none;
      color: inherit;
    }
  }

  button {
    position: absolute;
    right: 16px;
    top: 50%;
    padding: 0;
    width: 16px;
    height: 16px;
    border: none;
    line-height: 16px;
    background-color: transparent;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &--hide {
    display: none;
  }
}

strong {
  font-weight: 700;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-img {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-top,
.product-top,
.about-top {
  .green-link {
    .move-text {
      height: 36px;
      font-weight: 600;
      font-size: 16px;
      line-height: 36px;

      .letter {
        transform: translateY(-100%);
      }
    }

    .move-arrow {
      width: 36px;
      height: 36px;

      &::after,
      &::before {
        left: 10px;
        top: 10px;
        transform: rotate(135deg);
      }

      &::before {
        transform: translate(0, -200%) rotate(135deg);
      }
    }

    &:hover {
      .move-arrow {
        &::before {
          transform: translate(0) rotate(135deg);
        }

        &::after {
          transform: translate(0, 200%) rotate(135deg);

          @include r($md) {
            transform: translate(0, 180%) rotate(135deg);
          }
        }
      }

      .move-text {
        .letter {
          transform: translateY(0);
        }
      }
    }

    @include r($md) {
      margin: 0 auto;

      .move-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      }

      .move-arrow {
        width: 32px;
        height: 32px;

        &::after,
        &::before {
          left: 8px;
          top: 8px;
          transform: rotate(135deg);
        }

        &::before {
          transform: translate(0, -180%) rotate(135deg);
        }
      }
    }
  }
}

.test-block {
  position: relative;
  margin: 0 auto 20px;
  width: 982px;
  height: 670px;
  background-color: #856a6a;
}

.img-block-one,
.img-block-two {
  width: 100%;
  height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-block-one {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  background-image: url("../images/proto.png");
  background-position: center left;
}

.img-block-two {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  background-image: url("../images/proto1.png");
  background-position: center right;
}

.dad-rich-text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: #0f0f11;
}

.dad-rich-text h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.02em;
}

.dad-rich-text h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.dad-rich-text h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
}

.dad-rich-text h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.dad-rich-text h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.dad-rich-text h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.dad-rich-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.dad-rich-text ol li {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.dad-rich-text ol {
  padding-left: 20px;
}

.dad-rich-text ol li::marker {
  font-weight: 700;
}

.dad-rich-text ul li {
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.dad-rich-text ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2fba56;
}

.dad-rich-text ul li::after {
  display: none;
}

.dad-rich-text strong {
  font-weight: 700;
}

#dad-file-name-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  transform: translateY(-22px);
}

#dad-file-name-span-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  transform: translateY(-22px);
}

.interface__box {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}

.beforeImage,
.afterImage {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.afterImage {
  position: absolute;
  top: 0;
  overflow: hidden;

  //transform: translateX(-100%);
}

.afterImage img {
  //transform: translateX(-100%);
}
