@mixin r($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}
@mixin h($width) {
  @media only screen and (max-height: $width + "px") {
    @content;
  }
}

@mixin text-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@mixin slick {
  .slick-next,
  .slick-prev {
    opacity: 0.15;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 1px solid $black;
    border-radius: 50%;
    font-size: 0;
    background-color: transparent;
    transition: opacity 0.2s;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      background-image: url("../images/slick-right.svg");
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 1;
    }
  }
}