.about {
  .about-top {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    border-radius: 0 0 24px 24px;
    color: $white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &::before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
    }

    h1 {
      max-width: 635px;
      font-weight: 700;
      font-size: 80px;
      line-height: 88px;
      letter-spacing: -0.02em;
      text-align: center;
    }

    button {
      position: absolute;
      left: 50%;
      bottom: 48px;
      padding: 0 38px 0 16px;
      min-height: 44px;
      border: none;
      border-radius: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: $white;
      background-color: rgba($white, 0.3);
      transform: translateX(-50%);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 50%;
        width: 16px;
        height: 16px;
        background-image: url("../images/arrow-white-down.svg");
        background-position: center right;
        transform: translateY(-50%);
      }
    }
  }

  .expect {
    margin-bottom: 213px;

    h2 {
      max-width: 100%;
    }

    h4 {
      margin-bottom: 54px;
    }
  }
}

.approach {
  padding: 240px 0;

  p {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $green;
  }

  h2 {
    margin-bottom: 240px;
    max-width: 845px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
  }

  img {
    width: 100%;
    max-height: 654px;
    border-radius: 24px;
    object-fit: cover;
  }
}

.team {
  margin-bottom: 86px;

  h2 {
    margin-bottom: 108px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-bottom: 70px;
      text-transform: capitalize;

      img {
        margin-bottom: 28px;
        max-width: 363px;
        border-radius: 24px;
        object-fit: cover;
      }

      h3 {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }

      p {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}

.looking {
  margin-bottom: 152px;

  h2 {
    margin-bottom: 35px;
    max-width: 981px;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    text-transform: capitalize;
  }

  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    color: $green;
  }
}

.energy {
  margin-bottom: 152px;
  padding: 60px 0 90px;
  border-radius: 24px;
  text-align: center;
  background-color: $black;

  .category {
    margin-bottom: 20px;
  }

  &__wrapper {
    margin: 0 auto 68px;
    max-width: 400px;
  }

  h3 {
    margin: 0 auto 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: $white;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $grey-text;
  }

  img {
    margin: 0 auto;
    max-width: 700px;
  }
}

.mission {
  margin-bottom: 200px;

  h5 {
    margin-bottom: 84px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  p {
    max-width: 1156px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
  }
}

.vision {
  position: relative;
  margin-bottom: 200px;
  min-height: 820px;
  border-radius: 24px;
  color: $white;
  background-position: center;
  background-size: cover;

  &__content {
    position: absolute;
    left: 50px;
    top: 40px;
  }

  h3,
  p {
    font-weight: 700;
    letter-spacing: -0.04em;
  }

  h3 {
    margin-bottom: 16px;
    font-size: 80px;
    line-height: 80px;
  }

  p {
    max-width: 617px;
    font-size: 20px;
  }
}

.feedback {
  position: relative;
  display: flex;
  margin-bottom: 200px;
  min-height: 743px;

  &__img {
    position: absolute;
    left: -17%;
    bottom: -40px;
  }

  &__side {
    padding: 41px 45px;
    width: 100%;
    max-width: 593px;
    border-radius: 35px;
    background-color: #181818;

    p {
      margin-bottom: 26px;
      max-width: 437px;
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      text-transform: capitalize;
      color: #f8f8f8;
    }

    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 35px;
      text-transform: capitalize;
      color: #939393;
    }

    img {
      margin-right: 12px;
    }
  }

  ul {
    padding: 28px 0;
    width: 100%;

    li {
      margin: 0 auto;
      max-width: 437px;

      p {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-transform: capitalize;
        color: #181818;
      }

      img {
        margin-right: 12px;
        width: 36px;
        height: 36px;
      }

      h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 35px;
        text-transform: capitalize;
        color: #939393;
      }

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}