.home {
  h2 {
    margin: 0 auto 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .integration {
    margin-bottom: 192px;

    .category {
      margin: 0 auto 10px 0;
    }

    h2 {
      margin: 0 auto 20px 0;
      max-width: 684px;
      text-align: left;
    }
  }

  .business {
    .general__link {
      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.home-top {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 24px 24px;
  color: $white;
  background-color: $black;

  &::after {
    content: "";
    position: absolute;
    right: -348px;
    top: -276px;
    opacity: 0.85;
    width: 1123px;
    height: 1123px;
    border-radius: 50%;
    background-color: $green;
    filter: blur(1200px);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 56px 0;
    height: 100%;
    min-height: 100vh;
  }

  .container {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  h1 {
    margin-bottom: 19px;
    max-width: 670px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;

    span {
      color: $green;
    }
  }

  a {
    margin-bottom: 282px;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    object-fit: cover;
  }

  &__control {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    max-width: fit-content;
    border-radius: 13px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;

    h4 {
      margin-right: 10px;
      font-weight: 400;
    }

    p {
      color: #4a4b54;
    }
  }

  &__slider {
    position: relative;
    margin-right: 10px;
    width: 68px;
    height: 36px;
    border-radius: 17px;
    background-color: rgba($white, 0.05);
    transition: all 0.5s;
    cursor: pointer;

    span {
      position: absolute;
      right: 4px;
      top: 50%;
      z-index: 2;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: $green;
      transform: translate(-32px, -50%);
      transition: all 0.5s;
    }
  }

  &__slider--active {
    background-color: $green;

    span {
      right: 4px;
      z-index: 2;
      background-color: $black;
      transform: translate(0, -50%);
    }
  }

  &__scroll {
    position: absolute;
    left: -26px;
    bottom: 64px;

    p {
      position: relative;
      padding-left: 56px;
      font-size: 12px;
      line-height: 16px;
      transform: rotate(-90deg);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 60%;
        width: 40px;
        height: 1px;
        background-color: #4a4b54;
        transform: translateY(-50%);
      }
    }
  }
}

.cloud {
  margin: 144px 0 160px;

  h2 {
    max-width: 839px;
  }

  &__text {
    margin: 0 auto 42px;
    max-width: 547px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: $grey-text;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 50px 55px;
    border-radius: 24px;
    background-color: $white;
  }

  ul {
    width: 100%;
    max-width: 628px;
    letter-spacing: -0.01em;

    li {
      padding-left: 88px;
      background-position: top left;
      background-size: 64px;
      background-repeat: no-repeat;

      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }

    h4 {
      margin-bottom: 7px;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: $grey-text;
    }
  }

  img {
    max-width: 393px;
    object-fit: contain;
  }
}

.testimonials {
  margin-bottom: 184px;

  h2 {
    margin: 0 auto 13px;
  }

  &__text {
    margin: 0 auto 58px;
    max-width: 618px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: $grey-text;
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      padding: 20px;
      width: 100%;
      min-height: 680px;
      border-radius: 24px;
      background-position: center;
      background-size: cover;
    }

    li:first-child {
      margin-right: 24px;
      max-width: 70%;

      img {
        position: absolute;
        left: 28px;
        bottom: 28px;
        width: 128px;
        height: 30px;
      }
    }

    li:last-child {
      max-width: 30%;

      img {
        position: absolute;
        right: 28px;
        top: 28px;
        width: 128px;
        height: 30px;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 23px;
    max-width: 540px;
    border-radius: 24px;
    background-color: $green;
  }

  &__head {
    p {
      margin-bottom: 88px;
      max-width: 392px;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: -0.02em;
    }
  }

  &__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__author {
    h5 {
      margin-bottom: 1px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.01em;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-item {
    max-width: 84px;

    h5 {
      margin-bottom: 9px;
      padding-bottom: 8px;
      border-bottom: 1px solid $black;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.01em;
    }

    &:first-child {
      margin-right: 40px;
    }
  }
}

.coming {
  padding: 144px 0 330px;
  color: $white;
  background-color: $black;

  .category {
    margin: 0 auto 10px 0;
    background-color: #e8552e;
  }

  h2 {
    margin: 0 auto 14px 0;
    max-width: 644px;
    text-align: left;
  }

  &__text {
    margin-bottom: 56px;
    max-width: 600px;
    text-align: left;
    color: $grey-text;
  }

  ul {
    display: flex;
    justify-content: space-around;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 80px 32px 22px;
      height: 384px;
      max-width: 384px;
      border: 1px solid rgba(#4a4b54, 0.5s);
      border-radius: 20px;
      background-position: top 32px left 32px;
      background-size: 32px;
      background-repeat: no-repeat;

      h4 {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -0.02em;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $grey-text;
      }

      span {
        display: block;
        margin-top: auto;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;
      }
    }
  }
}

.answer {
  margin-top: -150px;
  margin-bottom: 274px;
  padding: 42px 48px;
  border-radius: 24px;
  background-color: $white;

  h2 {
    margin: 0 auto 20px 0;
    text-align: left;
  }

  .general__link {
    span {
      font-size: 16px;
      line-height: 24px;
    }
  }

  p {
    max-width: 540px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $grey-text;
  }

  &__info {
    margin-bottom: 40px;
    padding-bottom: 56px;
    border-bottom: 1px solid $black;
  }

  .question {
    position: relative;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1104px;

    &__item {
      display: inline-block;
      opacity: 0.15;
      width: 368px;
      transition: opacity 0.2s;
      cursor: pointer;

      span {
        display: block;
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;
      }

      h4 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -0.02em;
      }

      a {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-decoration: underline;
        text-underline-offset: 2px;
      }

      &:hover {
        opacity: 1;
      }
    }

    .slick-arrow {
      position: absolute;
      z-index: 5;
    }

    .slick-next,
    .slick-prev {
      right: 0;
      bottom: 0;
      opacity: 0.15;
      padding: 0;
      width: 40px;
      height: 40px;
      border: 1px solid $black;
      border-radius: 50%;
      font-size: 0;
      background-color: transparent;
      transition: opacity 0.2s;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        background-image: url("../images/slick-right.svg");
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
      }

      &:hover {
        opacity: 1;
      }
    }

    .slick-prev {
      right: 44px;

      &::after {
        background-image: url("../images/slick-left.svg");
      }
    }
  }
}

.particle {
  position: relative;
  margin: 0 36px 120px;
  min-height: 864px;
  border-radius: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .general__link {
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__block {
    position: absolute;
    left: 228px;
    bottom: 112px;
    padding: 26px 27px 26px 36px;
    width: 100%;
    max-width: 684px;
    border-radius: 24px;
    background-color: $green;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__date {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;

    span {
      display: block;
    }

    span:first-child {
      position: relative;
      padding-right: 45px;

      &::after {
        content: "";
        position: absolute;
        right: 12px;
        top: 50%;
        width: 20px;
        height: 1px;
        background-color: $black;
        transform: translateY(-50%);
      }
    }
  }

  &__main {
    h4 {
      margin-bottom: 14px;
      max-width: 591px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
    }

    p {
      max-width: 439px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
    }
  }
}
