.news { // + styles for CASE + PR
  padding: 105px 0 100px;

  h1 {
    margin-bottom: 20px;
    max-width: 676px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;
    animation: 0.4s fade;

    @include r($xl) {
      font-size: 50px;
      line-height: 58px;
    }

    @include r($lg) {
      margin-bottom: 35px;
      font-size: 40px;
      line-height: 48px;
    }
  }

  h3 {
    margin: 128px auto 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  nav {
    position: relative;
    animation: 0.6s fade;

    label {
      position: relative;
      display: block;
      margin-bottom: 40px;
      padding: 0;

      input {
        padding: 0 0 10px;
        width: 100%;
        outline: none;
        border: 0;
        border-bottom: 1px solid $black;
        background-color: transparent;

        @include r($lg) {
          padding: 0 0 5px 40px;
        }
      }

      @include r($lg) {
        margin-bottom: 24px;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 4px;
      padding: 0;
      width: fit-content;
      border: 0;
      background-color: transparent;
      cursor: pointer;

      @include r($lg) {
        left: 0;
      }
    }

    ul {
      display: flex;
      margin-bottom: 80px;
      width: 100%;
      overflow: auto;

      @include r($lg) {
        margin-bottom: 56px;
      }
    }

    li {
      align-items: center;
      padding: 0 16px;
      height: 32px;
      min-width: fit-content;
      overflow: hidden;
      border: 1px solid rgba(15, 15, 17, 0.15);
      border-radius: 32px;
      font-size: 14px;
      line-height: 32px;
      letter-spacing: -0.01em;
      transition: border 0.4s;
      cursor: pointer;

      .letter {
        display: inline-block;
        transition: transform 0.4s ease-in-out;
      }

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    li:hover {
      border: 1px solid rgba(15, 15, 17, 1);

      .letter {
        transform: translateY(-100%);
      }
    }

    .active {
      border: 1px solid $green;
      color: $white;
      background-color: $green;
    }
  }

  &__control {
    font-size: 14px;
    line-height: 20px;

    button {
      display: block;
      margin: 0 auto 13px;
      padding: 14px;
      width: 192px;
      border: 2px solid $green;
      border-radius: 25px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: transparent;
      transition: background-color 0.2s, color 0.2s;
      cursor: pointer;

      &:hover {
        color: $white;
        background-color: $green;
      }
    }

    p {
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  @include r($xl) {
    padding: 80px 0;
  }

  @include r($lg) {
    padding: 57px 0 67px;
  }
}

.article {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1248px;

  li:first-child {
    animation: 0.8s fade;
  }

  li {
    margin: 0 24px 75px;

    @include r($lg) {
      margin: 0 24px 55px;
    }

    @for $i from 0 to 20 {
      &:nth-child(#{$i}) {
        animation-name: fade;
        animation-duration: 0.28s * $i;
      }
    }
  }

  &__bg {
    display: flex;
    width: 100%;
    min-height: 560px;
    max-height: 560px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $black;

    .article__img {
      display: block;
      width: 100%;
      max-width: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s;

        @include r($md) {
          border-radius: 20px;
        }
      }

      @include r($md) {
        height: 328px;
        max-width: 100%;
      }
    }

    .article__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 48px 29px;
      width: 100%;
      max-width: 50%;

      h4 {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $green;
      }

      a {
        display: block;
        margin-bottom: 15px;
        max-width: 385px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        text-decoration: none !important;
        color: $white;

        span {
          width: calc(100%);
          background-image: linear-gradient(transparent calc(100% - 2px), $white 2px);
          background-size: 0 90%;
          background-repeat: no-repeat;
          transition: background-size 0.25s ease-in-out;
        }

        @include r($lg) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      p {
        max-width: 435px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $grey-text;

        @include r($lg) {
          font-size: 14px;
          line-height: 24px;
        }
      }

      .date {
        color: $grey-white;

        .date__calendar {
          &::after {
            background-color: $grey-white;
          }
        }

        @include r($md) {
          margin-bottom: 24px;
        }
      }

      @include r($md) {
        flex-direction: column-reverse;
        padding: 19px 28px 25px;
        height: 100%;
        max-width: 100%;
      }
    }

    @include r($xl) {
      min-height: 500px;
      max-height: 500px;
    }

    @include r($lg) {
      min-height: 420px;
      max-height: 420px;
      border-radius: 20px;
    }

    @include r($md) {
      flex-direction: column;
      margin-bottom: 56px;
      min-height: auto;
      max-height: 100%;
    }
  }

  &__md {
    max-width: 576px;

    .article__link {
      height: 576px;

      img {
        height: 576px;

        @include r($md) {
          height: 376px;
        }
      }

      @include r($md) {
        height: 376px;
      }
    }

    @include r($md) {
      max-width: 376px;
    }

    @include r($sm) {
      margin: 0 0 55px !important;
    }
  }

  &__sm {
    max-width: 264px;

    .article__link {
      height: 264px;

      img {
        height: 264px;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 11px;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
      transition: transform 0.4s;
    }
  }

  h4 {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $green;
  }

  &__title {
    @include text-clamp;

    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none !important;
    color: inherit;

    span {
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 2px), $black 2px);
      background-size: 0 90%;
      background-repeat: no-repeat;
      transition: background-size 0.25s ease-in-out;
    }

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  @include r($lg) {
    justify-content: space-around;
  }
}

.read {
  margin: 56px auto 0;
  max-width: 784px;

  &__info {
    margin: 0 15px 0 0;

    @include r($md) {
      margin: 0 0 30px;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 32px 21px;
    border-radius: 16px;
    background: $white;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $grey-text;
    }

    .read__title {
      display: block;
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: -0.01em;

      span {
        width: calc(100%);
        background-image: linear-gradient(transparent calc(100% - 2px), $black 2px);
        background-size: 0 94%;
        background-repeat: no-repeat;
        transition: background-size 0.3s ease-in-out;
      }

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }

    &:hover {
      .read__title {
        span {
          background-size: 100% 94%;
        }
      }
    }

    @include r($md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @include r($xl) {
    margin: 60px auto 0;
  }
}

.img-hover {
  img {
    transform: scale(1.05);
  }
}

.title-hover {
  color: inherit;

  span {
    text-decoration: none;
    color: inherit;
    background-size: 100% 90% !important;
  }
}