.news { // + styles for CASE
  padding: 105px 0 99px;

  h1 {
    margin-bottom: 45px;
    max-width: 676px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;
  }

  nav {
    position: relative;

    button {
      position: absolute;
      right: 0;
      top: -57px;
      padding: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    ul {
      display: flex;
      margin-bottom: 80px;
      padding-top: 40px;
      border-top: 1px solid $black;
    }

    li {
      display: flex;
      align-items: center;
      padding: 0 16px;
      min-height: 32px;
      border: 1px solid $black;
      border-radius: 32px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.01em;
      transition: border 0.2s;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    li:hover {
      border: 1px solid $green;
    }

    .active {
      border: 1px solid $green;
      color: $white;
      background-color: $green;
    }
  }

  &__button {
    display: block;
    margin: 48px auto 13px;
    padding: 14px;
    width: 192px;
    border: 2px solid $green;
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }

  &__pagination {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

.suggest {
  display: flex;
  margin-bottom: 80px;
  min-height: 560px;
  overflow: hidden;
  border-radius: 24px;
  background-color: $black;

  .suggest__link {
    display: block;
    max-width: 50%;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.5s;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 35px 48px 29px;
    width: 100%;
    max-width: 50%;

    a {
      display: block;
      margin-bottom: 14px;
      max-width: 385px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: $white;

      span {
        width: calc(100%);
        background-image: linear-gradient(transparent calc(100% - 2px), $white 2px);
        background-size: 0 90%;
        background-repeat: no-repeat;
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      }

      &:hover {
        span {
          background-size: 100% 90%;
        }
      }
    }
  }

  h4 {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $green;
  }

  p {
    max-width: 453px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: $grey-text;
  }

  .date {
    margin-top: auto;
    color: $grey-white;

    .date__calendar {
      &::after {
        background-color: $white;
      }
    }
  }
}

.article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  li {
    width: 100%;
    max-width: 264px;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 11px;
    overflow: hidden;
    border-radius: 24px;

    img {
      width: 100%;
      max-width: 264px;
      border-radius: 24px;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }

  p {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $green;
  }

  &__title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;

    span {
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 2px), $black 2px);
      background-size: 0 90%;
      background-repeat: no-repeat;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    }

    &:hover {
      span {
        background-size: 100% 90%;
      }
    }
  }
}

.pr {
  .suggest {
    margin-bottom: 48px;
  }

  .news__link {
    margin: 40px auto 13px;
  }
}

.read {
  margin: 0 auto;
  max-width: 784px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 32px 21px;
    border-radius: 16px;
    background: $white;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 146px;
      background-color: transparent;

      span {
        display: block;
        margin-right: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
      }
    }
  }

  &__info {
    margin-right: 31px;

    p {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $grey-text;
    }

    h4 {
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: -0.01em;
    }

    span {
      display: block;
      margin-bottom: 0;
      color: $black;
    }
  }
}