.work {
    .vacancy {
        padding: 63px 80px 95px;
        max-width: 960px;
        border-radius: 24px;
        background-color: $green;

        h3 {
            margin-bottom: 12px;
            max-width: 676px;
            font-weight: 700;
            font-size: 64px;
            line-height: 72px;
            letter-spacing: -0.02em;
        }

        .location {
            margin-bottom: 75px;
            color: $black;

            span {
                &:not(:last-child) {
                    &::after {
                        background-color: $black;
                    }
                }
            }
        }
    }

    .apply {
        max-width: 556px;

        label {
            position: relative;
            display: block;
            margin-bottom: 22px;

            img {
                position: absolute;
                right: 0;
                bottom: 13px;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }

        span {
            display: block;
            margin-bottom: 9px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.01em;
        }

        input {
            display: block;
            padding: 0 0 9px;
            width: 100%;
            outline: none;
            border: 0;
            border-bottom: 1px solid $black;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.02em;
            background-color: transparent;

            &::placeholder {
                opacity: 0.25;
                color: $black;
            }
        }

        button {
            margin-right: 16px;
            padding: 0 52px;
            min-height: 52px;
            border: 2px solid $black;
            border-radius: 25px;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            background-color: transparent;
            cursor: pointer;
        }
    }
}