.join {
  padding: 111px 0 236px;

  .green-link {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__open {
    display: flex;
    justify-content: space-between;
    margin-bottom: 177px;

    span {
      max-width: 50%;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.01em;

      @include r($xl) {
        max-width: 40%;
      }

      @include r($md) {
        margin-bottom: 40px;
        max-width: 100%;
      }
    }

    p {
      max-width: 50%;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;

      @include r($xl) {
        max-width: 60%;
      }

      @include r($md) {
        max-width: 100%;
      }
    }

    span,
    p {
      width: 100%;
    }

    @include r($xl) {
      margin-bottom: 87px;
    }

    @include r($md) {
      flex-direction: column;
    }
  }

  @include r($xl) {
    padding: 80px 0 120px;
  }

  @include r($lg) {
    padding: 65px 0 70px;
  }
}

.join__top,
.data-sheets__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 259px;
  padding-bottom: 45px;
  border-bottom: 1px solid $black;

  h1 {
    max-width: 590px;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;

    @include r($xl) {
      margin-right: 40px;
      font-size: 50px;
      line-height: 58px;
    }

    @include r($lg) {
      font-size: 40px;
      line-height: 48px;
    }

    @include r($md) {
      margin-right: 0;
      margin-bottom: 21px;
    }
  }

  p {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: $grey-text;

    @include r($md) {
      max-width: 100%;
      text-align: left;
    }
  }

  a {
    display: inline-block;
    text-decoration: underline !important;
    color: $black;
  }

  @include r($xl) {
    margin-bottom: 51px;
  }

  @include r($md) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 34px;
  }
}

.job {
  margin-left: auto;
  max-width: 992px;

  &__category {
    margin-bottom: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($black, 0.15);
    font-weight: 700;
    letter-spacing: -0.01em;
  }

  &__title {
    display: block;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
    cursor: pointer;

    span {
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 2px), $black 2px);
      background-size: 0 86%;
      background-repeat: no-repeat;
      transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    }

    &:hover {
      span {
        background-size: 100% 86%;
      }
    }

    @include r($lg) {
      margin-bottom: 8px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  ul {
    &:not(:last-child) {
      margin-bottom: 97px;

      @include r($xl) {
        margin-bottom: 75px;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba($black, 0.15);

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .green-link {
      display: flex;
      align-items: center;
      background-color: transparent;

      span {
        margin-right: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
      }

      @include r($md) {
        display: none;
      }
    }
  }
}
