.news-inner {
    padding: 112px 0 0;

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 239px;
        min-height: 384px;
        border-radius: 0 0 24px 24px;
        background-color: $white;
    }
}

.story {
    display: flex;

    &__sidebar {
        width: 100%;
        max-width: 240px;

        li {
            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }

        span {
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: $grey-text;
        }

        p {
            font-weight: 700;
            line-height: 28px;
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 912px;
    }

    &__inner {
        margin: 0 auto;
        max-width: 672px;

        p:not(:last-child) {
            margin-bottom: 32px;
        }

        h3 {
            margin-bottom: 25px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.02em;
        }

        h4 {
            margin: 62px 0 18px;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: -0.02em;
        }

        h5 {
            margin: 0 0 9px;
            font-weight: 700;
            font-size: 20px;
            letter-spacing: -0.01em;
        }
    }

    &__img {
        position: relative;
        margin: 55px 0 45px;
        width: 100%;

        img {
            margin-bottom: 12px;
            border: 24px;
            object-fit: cover;
        }

        span {
            position: absolute;
            left: 16px;
            bottom: 40px;
            font-size: 12px;
            line-height: 16px;
            color: $white;
        }

        p {
            font-weight: 300;
            font-style: italic;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
    }

    &__notice {
        margin-bottom: 48px;
        padding: 20px 20px 20px 24px;
        border-radius: 12px;
        color: $white;
        background-color: $black;
    }

    &__quote {
        margin: 79px auto 76px;
        padding-left: 20px;
        max-width: 672px;
        border-left: 2px solid $green;

        h4 {
            margin-bottom: 11px;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.02em;
        }

        p {
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.propose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
    width: 100%;
    border-radius: 24px;
    background: #fff;

    &__img {
        width: 100%;
        max-width: 472px;
        border-radius: 24px;

        img {
            height: 100%;
            border-radius: 24px;
            object-fit: cover;
        }
    }

    &__info {
        margin: 0 24px;
        padding: 130px 0;
        width: 100%;
    }

    &__descr {
        margin: 0 auto;
        max-width: 496px;
    }

    &__title {
        max-width: 100%;
        color: $black;
    }

    &__subtitle {
        margin-bottom: 24px;
    }
}