.news { // + styles for CASE
    padding: 111px 0 163px;

    h1 {
        margin-bottom: 45px;
        max-width: 676px;
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.02em;
    }

    &__item {
        border: 1px solid $green !important;
        color: $white;
        background-color: $green;
    }

    &__nav {
        position: relative;

        ul {
            display: flex;
            margin-bottom: 112px;
            padding-top: 40px;
            border-top: 1px solid $black;
        }

        li {
            display: flex;
            align-items: center;
            padding: 0 16px;
            min-height: 32px;
            border: 1px solid $black;
            border-radius: 32px;
            font-size: 14px;
            line-height: 20px;
            transition: color 0.2s, border 0.2s, background-color 0.2s;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }

        li:hover {
            border: 1px solid $green;
            color: $white;
            background-color: $green;
        }
    }

    &__search {
        position: absolute;
        right: 0;
        top: -57px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    &__link {
        display: block;
        margin: 66px auto 13px;
        padding: 14px 56px;
        max-width: 192px;
        border: 2px solid $green;
        border-radius: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            color: $white;
            background-color: $green;
        }
    }

    &__pagination {
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
}

.suggest {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $black;

    h2 {
        margin-bottom: 14px;
        max-width: 405px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: $white;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        color: $grey-text;
    }

    &__img {
        max-width: 50%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 35px 48px 26px;
        width: 100%;
        max-width: 50%;
    }

    &__descr {
        width: 100%;
        max-width: 453px;
        text-align: left;

        span {
            display: block;
            margin-bottom: 5px;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: $green;
        }
    }
}

.date {
    display: flex;
    font-size: 16px;
    line-height: 24px;

    &__calendar {
        position: relative;
        padding-right: 44px;

        &::after {
            content: "";
            position: absolute;
            right: 11px;
            top: 50%;
            width: 20px;
            height: 1px;
            background-color: $white;
            transform: translateY(-50%);
        }
    }

    &__calendar--article {
        &::after {
            background-color: $black;
        }
    }

    &--suggest {
        color: $white;
    }

    &--article {
        color: $black;
    }

    &--propose {
        margin: 0 auto;
        max-width: 496px;
    }
}

.article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

    li {
        width: 100%;
        max-width: 264px;

        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__img {
        margin-bottom: 11px;
        width: 100%;

        img {
            width: 100%;
            max-width: 264px;
            border-radius: 15px;
            object-fit: cover;
        }
    }

    h4 {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 24px;
        text-transform: capitalize;
    }

    &__group {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: $green;
    }

    &__date {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        color: $black;
    }
}

.pr {
    .suggest {
        margin-bottom: 48px;
    }

    .news__link {
        margin: 40px auto 13px;
    }
}

.read {
    margin: 0 auto;
    max-width: 784px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 27px 36px 21px 32px;
        border-radius: 16px;
        background: $white;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    &__group {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $grey-text;
    }

    &__title {
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 20px;
    }

    &__date {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    &__button {
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    &__button-text {
        margin-right: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
    }
}