.news { // + styles for CASE
    padding: 111px 0 195px;

    h1 {
        margin-bottom: 45px;
        max-width: 676px;
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.02em;
    }

    nav {
        position: relative;

        button {
            position: absolute;
            right: 0;
            top: -57px;
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }

        ul {
            display: flex;
            margin-bottom: 112px;
            padding-top: 40px;
            border-top: 1px solid $black;
        }

        li {
            display: flex;
            align-items: center;
            padding: 0 16px;
            min-height: 32px;
            border: 1px solid $black;
            border-radius: 32px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
            transition: border 0.2s;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }

        li:hover {
            border: 1px solid $green;
        }

        .active {
            border: 1px solid $green;
            color: $white;
            background-color: $green;
        }
    }

    &__button {
        display: block;
        margin: 82px auto 13px;
        padding: 14px;
        width: 192px;
        border: 2px solid $green;
        border-radius: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        background-color: transparent;
        transition: background-color 0.2s, color 0.2s;
        cursor: pointer;

        &:hover {
            color: $white;
            background-color: $green;
        }
    }

    &__pagination {
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
}

.suggest {
    display: flex;
    margin-bottom: 88px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $white;

    &__img {
        max-width: 50%;
        overflow: hidden;

        img {
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.08);
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 35px 48px 26px;
        width: 100%;
        max-width: 50%;
    }

    h4 {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: $white;
    }

    h2 {
        margin-bottom: 14px;
        max-width: 405px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: $black;

        span {
            width: calc(100%);
            background-image: linear-gradient(transparent calc(100% - 10px), black 10px);
            background-size: 0 100%;
            background-repeat: no-repeat;
            transition: background-size 1s;
        }

        &:hover {
            span {
                background-size: 100% 100%;
            }
        }
    }

    p {
        max-width: 453px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $grey-text;
    }

    .date {
        margin-top: auto;
        color: $white;

        .date__calendar {
            &::after {
                background-color: $white;
            }
        }
    }
}

.article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;

    li {
        max-width: 264px;

        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__img {
        margin-bottom: 11px;
        overflow: hidden;
        border-radius: 24px;

        img {
            width: 100%;
            max-width: 264px;
            border-radius: 15px;
            object-fit: cover;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.08);
            }
        }
    }

    p {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: $green;
    }

    h4 {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 24px;
        text-decoration: underline 2px rgba(0, 0, 0, 0);
        text-transform: capitalize;
        transition: text-decoration-color 0.2s;
        text-underline-offset: 2px;

        &:hover {
            text-decoration-color: rgba(0, 0, 0, 1);
        }
    }
}

.pr {
    .suggest {
        margin-bottom: 48px;
    }

    .news__link {
        margin: 40px auto 13px;
    }
}

.read {
    margin: 0 auto;
    max-width: 784px;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 27px 48px 21px 32px;
        border-radius: 16px;
        background: $white;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        a {
            display: flex;
            align-items: center;
            background-color: transparent;

            span {
                display: block;
                margin-right: 12px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.01em;
            }
        }
    }

    &__info {
        max-width: 370px;

        p,
        span {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: $grey-text;
        }

        h4 {
            margin-bottom: 11px;
            font-weight: 700;
            font-size: 20px;
            letter-spacing: -0.01em;
        }

        span {
            display: block;
            margin-bottom: 0;
            color: $black;
        }
    }
}