.news-inner {
  padding: 116px 0 0;

  @include r($xl) {
    padding: 70px 0 0;
  }

  @include r($md) {
    padding: 0;
  }
}

.propose {
  margin: 0 auto 80px;
  max-width: 1248px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $white;

    @include r($md) {
      flex-direction: column;
      margin: 0;
      border-radius: 0;
    }
  }

  &__img {
    position: relative;
    line-height: 0;

    img {
      height: 472px;
      min-width: 472px;
      border-radius: 24px 0 0 24px;
      object-fit: cover;

      @include r($lg) {
        height: 400px;
        min-width: 352px;
      }

      @include r($md) {
        flex-direction: column;
        height: 372px;
        min-width: 100%;
        border-radius: 0;
      }
    }

    @include r($md) {
      margin-bottom: 27px;
      max-width: 100%;
    }
  }

  &__button {
    display: none;
    padding: 0 0 0 28px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: $white;
    background-color: transparent;

    @include r($md) {
      position: absolute;
      left: 24px;
      top: 22px;
      display: block;

      &::after {
        content: url("../images/arrow-left-white.svg");
        position: absolute;
        left: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    max-width: 548px;

    a {
      margin-bottom: 14px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;

      span {
        width: calc(100%);
        background-image: linear-gradient(transparent calc(100% - 2px), $black 2px);
        background-size: 0 90%;
        background-repeat: no-repeat;
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
      }

      &:hover {
        span {
          background-size: 100% 90%;
        }
      }
    }

    h4 {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: $green;
    }

    p {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.01em;
      color: $grey-text;
    }

    @include r($lg) {
      max-width: 100%;
    }

    @include r($md) {
      padding: 0 24px 46px;
    }
  }

  .date {
    max-width: 500px;
  }

  @include r($md) {
    margin: 0 auto;
  }
}

.story {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1248px;

  &__sidebar {
    position: sticky;
    top: 20px;
    width: 100%;
    height: fit-content;
    max-width: 240px;

    li {
      font-size: 0;
      letter-spacing: -0.01em;

      &:not(:last-child) {
        margin-bottom: 14px;

        @include r($lg) {
          margin-bottom: 6px;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: $grey-text;
    }

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }

    svg {
      display: inline-block;
      transition: all 0.2s;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 6px;
      }

      &:hover {
        fill: #0f0f11;

        path {
          fill: #f5f5f9;
        }
      }
    }

    .link-icon {
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        fill: #0f0f11;

        path {
          fill: transparent;
          stroke: #f5f5f9;
        }
      }
    }

    @include r($lg) {
      max-width: 220px;
    }

    @include r($md) {
      position: relative;
      top: 0;
      padding: 0 24px 30px;
      max-width: 100%;
      background-color: $white;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 912px;

    @include r($md) {
      padding-top: 40px;
    }
  }

  &__inner {
    margin: 0 auto;
    max-width: 680px;

    p:not(:last-child) {
      margin-bottom: 32px;
    }

    h3 {
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;

      @include r($xl) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    h4 {
      margin: 62px 0 18px;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: -0.02em;

      @include r($lg) {
        margin: 45px 0 18px;
      }
    }

    ul {
      li {
        position: relative;
        padding-left: 18px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 13px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $green;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    ol {
      li {
        position: relative;
        padding-left: 28px;
        list-style: none;

        &::after {
          content: "" counter(section) ".";
          position: absolute;
          left: 0;
          top: 0;
          width: 26px;
          height: 32px;
          counter-increment: section;
          font-weight: 700;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: -0.01em;
          text-align: center;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    @include r($md) {
      padding: 0 24px;
      max-width: 100%;
    }
  }

  &__img {
    position: relative;
    margin: 47px 0 37px;
    width: 100%;

    img {
      margin-bottom: 12px;
      width: 100%;
      border: 24px;
      object-fit: cover;
    }

    span {
      position: absolute;
      left: 16px;
      bottom: 40px;
      font-size: 12px;
      line-height: 16px;
      color: $white;
    }

    p {
      font-weight: 300;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
    }

    @include r($lg) {
      margin: 32px 0;
    }
  }

  &__notice {
    margin-bottom: 48px;
    padding: 20px 20px 20px 24px;
    border-radius: 12px;
    color: $white;
    background-color: $black;
  }

  &__quote {
    margin: 79px auto 76px;
    padding-left: 20px;
    max-width: 672px;
    border-left: 2px solid $green;

    h4 {
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;

      @include r($lg) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
    }

    @include r($lg) {
      font-size: 24px;
      line-height: 32px;
    }

    @include r($md) {
      margin: 60px auto 60px 24px;
      padding: 0 24px;
      max-width: 100%;
    }
  }

  @include r($md) {
    flex-direction: column;
    padding: 0;
  }
}

.next {
  margin-top: 192px;
  border-radius: 0 0 24px 24px;
  background-color: $white;

  &__wrapper {
    display: flex;
    min-height: 384px;

    @include r($md) {
      flex-direction: column;
      align-items: center;
    }
  }

  h4 {
    text-transform: uppercase;
  }

  .propose__info {
    @include r($md) {
      padding: 0 0 46px;
    }
  }

  &__img {
    margin-top: -85px;
    max-height: 368px;
    overflow: hidden;
    border-radius: 24px;

    img {
      width: 368px;
      height: 368px;
      object-fit: cover;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }

      @include r($lg) {
        width: 328px;
        height: 328px;
      }

      @include r($md) {
        margin-top: 0;
        margin-bottom: 43px;
      }
    }
  }

  @include r($xl) {
    margin-top: 150px;
  }

  @include r($md) {
    margin-top: 60px;
    background-color: transparent;
  }
}
