.product {
  a {
    text-decoration: none;
  }

  .business {
    &__wrapper {
      margin: 0 20px 0 0;

      @include r($md) {
        margin: 0 0 24px;
      }
    }

    @include r($md) {
      flex-direction: column;
    }
  }
}

.product-top {
  position: relative;
  z-index: 5;
  margin-bottom: 160px;
  color: $white;
  background-image: url("../images/product-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $black;

  img {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    max-width: 800px;
    transform: translateX(-50%);

    @include r($md) {
      max-width: 700px;
    }

    @include r($sm) {
      max-width: 500px;
    }

    @include h(800) {
      max-width: 700px;
    }

    @include h($md) {
      max-width: 600px;
    }
  }

  &__wrapper {
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 0 0;
    height: calc(100vh - 92px);

    @include r($lg) {
      height: calc(100vh - 72px);
    }
  }

  h1 {
    margin-bottom: 27px;
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.02em;
    text-align: center;

    @include r($lg) {
      margin-bottom: 23px;
      font-size: 50px;
      line-height: 58px;
    }

    @include r($md) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  .subtitle {
    p {
      margin: 0 auto 32px 0;
      max-width: 538px;
      text-align: center;

      @include r($md) {
        margin: 0 auto 25px;
      }
    }
  }

  .green-link {
    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;

      @include r($md) {
        font-size: 18px;
        line-height: 28px;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $green;
          animation: slotMachine-Prod 0.3s ease-in forwards 3;
        }

        circle {
          fill: $white;
        }
      }
    }
  }

  @include r($lg) {
    margin-bottom: 130px;
  }

  @include r($md) {
    margin-bottom: 100px;
  }
}

.interface {
  margin: 0 36px 152px;
  padding: 80px 24px;
  border-radius: 24px;
  text-align: center;
  color: $white;
  background-color: $black;

  h4 {
    margin: 0 auto 20px;
    max-width: 659px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;

    @include r($lg) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .subtitle {
    p {
      max-width: 714px;
    }
  }

  &__img {
    position: relative;
    margin: 0 auto 84px;
    max-width: 900px;
    transition: all 0.5s;

    &::after {
      content: "";
      position: absolute;
      left: 15px;
      right: 15px;
      top: 15px;
      bottom: 15px;
      border-radius: 24px;
      background-position: 100% 100%;
      background-size: 0 100%;
      background-color: rgba(#000, 0.03);
      transition: right 2s;
      backdrop-filter: grayscale(1);

      @include r($md) {
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 14px;
      }

      @include r($sm) {
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        border-radius: 4px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      &::after {
        right: 100%;
      }
    }

    @include r($xl) {
      max-width: 600px;
    }

    @include r($lg) {
      margin: 0 auto 50px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: left;

    li {
      padding-left: 60px;
      max-width: 340px;
      background-position: top left;
      background-size: 40px;
      background-repeat: no-repeat;

      h5 {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.01em;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $grey-text;
      }

      &:not(:last-child) {
        margin: 0 30px 0 0;

        @include r($lg) {
          margin: 0 15px 30px;
        }

        @include r($md) {
          margin: 0 0 30px;
        }
      }

      @include r($lg) {
        margin: 0 15px;
      }

      @include r($md) {
        margin: 0;
        max-width: 100%;
      }
    }

    @include r($lg) {
      flex-wrap: wrap;
    }
  }

  @include r($xl) {
    margin: 0 24px 100px;
  }

  @include r($lg) {
    margin: 0 0 88px;
    padding: 32px 24px;
    border-radius: 20px;
  }
}

.management {
  display: flex;
  justify-content: space-between;
  margin-bottom: 152px;

  .category {
    margin: 0 auto 10px 0;
  }

  h4 {
    margin-bottom: 42px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;

    @include r($lg) {
      margin-bottom: 31px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  img {
    max-width: 50%;
    object-fit: contain;

    @include r($lg) {
      margin: 0 auto;
      max-width: 65%;
    }

    @include r($md) {
      max-width: 85%;
    }

    @include r($sm) {
      max-width: 100%;
    }
  }

  &__wrapper {
    margin-left: 20px;
    max-width: 500px;

    @include r($lg) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  ul {
    li {
      padding-left: 88px;
      background-position: top left;
      background-size: 64px;
      background-repeat: no-repeat;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      h5 {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.01em;

        @include r($lg) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $grey-text;

        @include r($lg) {
          font-size: 14px;
          line-height: 24px;
        }
      }

      @include r($xl) {
        padding-left: 68px;
        background-size: 48px;
      }
    }
  }

  @include r($xl) {
    margin-bottom: 100px;
  }

  @include r($lg) {
    flex-direction: column;
  }

  @include r($md) {
    margin-bottom: 88px;
  }
}

.office {
  margin: 0 36px 200px;
  padding: 120px 0;
  border-radius: 24px;
  color: $white;
  background-color: $black;

  .category {
    background-color: #5a0de4;
  }

  h2 {
    max-width: 792px;
  }

  .subtitle {
    p {
      margin: 0 auto 100px;
      max-width: 792px;
      text-align: center;

      @include r($xl) {
        margin: 0 auto 65px;
      }

      @include r($md) {
        margin: 0 auto 40px;
      }
    }
  }

  .business {
    margin-bottom: 100px;

    img {
      @include r($md) {
        margin: 0 auto 52px;
      }
    }

    .subtitle {
      p {
        margin: 0 auto 24px;
        text-align: left;

        @include r($md) {
          text-align: center;
        }
      }
    }

    &__wrapper {
      @include r($md) {
        margin: 0;
      }
    }

    @include r($xl) {
      margin: 0 auto 65px;
    }

    @include r($md) {
      flex-direction: column-reverse;
      margin: 0 auto 40px;
    }
  }

  ul {
    display: flex;
    text-align: left;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px;
      width: 100%;
      min-height: 328px;
      max-width: 383px;
      border: 1px solid #4a4b54;
      border-radius: 20px;

      &:not(:last-child) {
        margin-right: 25px;

        @include r($lg) {
          margin: 0 0 24px;
        }
      }

      span {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
      }

      div {
        max-width: 225px;

        @include r($lg) {
          max-width: 100%;
        }
      }

      h5 {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
      }

      p {
        max-width: 274px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: $grey-text;

        @include r($lg) {
          max-width: 100%;
        }
      }

      @include r($lg) {
        margin: 0;
        min-height: 250px;
        max-width: 100%;
      }
    }

    img {
      width: 36px;
      height: 36px;
    }

    @include r($lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include r($xl) {
    margin: 0 24px 100px;
    padding: 60px 0;
  }

  @include r($lg) {
    margin: 0 0 50px;
    border-radius: 20px;
  }

  @include r($md) {
    margin: 0 0 32px;
    padding: 40px 0;
  }
}

.sales {
  margin: 0 0 24px;
  padding: 56px 65px;
  border-radius: 24px;
  color: $white;
  background-color: $black;

  .category {
    margin: 0 auto 10px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r($lg) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__block {
    margin-right: 35px;
    max-width: 406px;

    @include r($lg) {
      margin-right: 0;
      margin-bottom: 50px;
      max-width: 100%;
    }
  }

  h4 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;

    @include r($lg) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .tab-pane {
    text-align: right;

    @include r($lg) {
      text-align: center;
    }
  }

  .tab-content {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      max-width: 560px;

      @include r($xl) {
        max-width: 480px;
      }

      @include r($lg) {
        max-width: 500px;
      }
    }
  }

  .nav-tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      border-radius: 8px;
      background-color: rgba($white, 0.15);
    }
  }

  &__item {
    position: relative;
    padding-left: 64px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 2px;
      height: 100%;
      border-radius: 8px;
      background-color: transparent;
      transition: background-color 0.3s;
    }

    &::after {
      content: "0" counter(section) "";
      position: absolute;
      left: 32px;
      top: 50%;
      opacity: 0.15;
      width: 16px;
      height: 16px;
      counter-increment: section;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: $white;
      transform: translateY(-50%);
      transition: opacity 0.3s;

      @include r($md) {
        left: 14px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    h6 {
      opacity: 0.15;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      transition: opacity 0.3s;
    }

    @include r($md) {
      padding-left: 40px;
    }
  }

  .active {
    &::before {
      background-color: $green;
    }

    &::after {
      opacity: 1;
    }

    h6 {
      opacity: 1;
    }
  }

  @include r($lg) {
    padding: 28px;
    border-radius: 20px;
  }

  @include r($md) {
    padding: 28px;
  }
}

.sales-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  &__left {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    max-width: 30%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include r($lg) {
        margin-top: 0;
        height: 100%;
        max-width: 50%;
        max-height: 400px;
      }

      @include r($md) {
        max-width: 100%;
        max-height: 300px;
      }

      @include r($sm) {
        min-height: 250px;
      }
    }

    .subtitle {
      p {
        margin: 0 0 16px;
      }
    }

    @include r($lg) {
      flex-direction: row;
      margin-right: 0;
      margin-bottom: 24px;
      height: 400px;
      max-width: 100%;
    }

    @include r($md) {
      flex-direction: column;
      height: fit-content;
    }
  }

  &__left-wrapper {
    padding: 32px;

    @include r($md) {
      padding: 22px 28px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;

    ul {
      li {
        position: relative;
        padding-left: 48px;
        height: 32px;
        background-position: left center;
        background-size: 32px;
        background-repeat: no-repeat;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        h5 {
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: -0.01em;
        }
      }
    }

    img {
      margin-bottom: -30px;
      width: 100%;
      height: 100%;
      max-width: 50%;
      object-fit: cover;

      @include r($md) {
        max-width: 100%;
        max-height: 350px;
      }

      @include r($sm) {
        min-height: 300px;
      }
    }

    @include r($lg) {
      height: 500px;
      max-width: 100%;
    }

    @include r($md) {
      flex-direction: column-reverse;
      height: fit-content;
    }
  }

  &__right-wrapper {
    margin: 0 45px 0 15px;
    width: 100%;
    max-width: 352px;

    .subtitle {
      p {
        margin: 0 0 32px;
      }
    }

    @include r($xl) {
      margin: 20px 30px;
    }

    @include r($md) {
      margin: 0;
      padding: 22px 28px;
      max-width: 100%;
    }
  }

  &__left,
  &__right {
    position: relative;
    width: 100%;
    min-height: 560px;
    overflow: hidden;
    border-radius: 24px;
    color: $white;
    background-color: $black;

    h4 {
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
    }

    @include r($lg) {
      min-height: fit-content;
      border-radius: 20px;
    }
  }

  @include r($xl) {
    margin-bottom: 100px;
  }

  @include r($lg) {
    flex-direction: column;
  }

  @include r($md) {
    margin-bottom: 88px;
  }
}

@keyframes slotMachine-Prod {
  50% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  51% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}