.terms-policy {
  padding: 180px 0 127px;

  h1 {
    margin-bottom: 60px;
    max-width: 400px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.02em;

    @include r($xl) {
      margin-bottom: 39px;
      font-size: 50px;
      line-height: 58px;
    }

    @include r($lg) {
      position: relative;
      top: 0;
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__global {
    display: flex;
    justify-content: space-between;

    @include r($lg) {
      flex-direction: column;
    }
  }

  &__part {
    position: sticky;
    top: 110px;
    margin-right: 40px;
    width: 100%;
    height: fit-content;
    max-width: 432px;

    h4 {
      margin-bottom: 58px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;

      @include r($xl) {
        margin-bottom: 41px;
        font-size: 20px;
      }
    }

    ul {
      display: flex;
      letter-spacing: -0.01em;
    }

    li {
      width: 100%;
      max-width: 200px;

      &:not(:last-child) {
        margin-right: 20px;
        max-width: 160px;
      }

      p {
        margin-bottom: 1px;
        font-size: 14px;
        line-height: 20px;
        color: $grey-text;
      }

      span {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      a {
        display: block;
        max-width: fit-content;
        line-height: 24px;

        span {
          display: inline;
          width: calc(100%);
          background-image: linear-gradient(transparent calc(100% - 1px), $black 1px);
          background-size: 0 94%;
          background-repeat: no-repeat;
          transition: background-size 0.25s ease-in-out;
        }

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &:hover {
          text-decoration: none;
          color: inherit;

          span {
            background-size: 100% 94%;
          }
        }
      }

      &:first-child {
        @include r($lg) {
          max-width: 130px;
        }
      }
    }

    @include r($lg) {
      position: relative;
      top: 0;
      margin-right: 0;
      margin-bottom: 50px;
      max-width: 100%;
    }
  }

  @include r($xl) {
    padding: 160px 0 95px;
  }

  @include r($lg) {
    padding: 137px 0 95px;
  }
}

.info {
  margin-top: 204px;
  max-width: 576px;

  h3,
  h4 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.01em;
  }

  h4 {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 32px;
  }

  ul {
    margin-bottom: 32px;

    li {
      position: relative;
      padding-left: 18px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 13px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $green;
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  ol {
    li {
      position: relative;
      padding-left: 28px;
      list-style: none;

      &::after {
        content: "" counter(section) ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 26px;
        height: 32px;
        counter-increment: section;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  @include r($xl) {
    margin-top: 155px;
  }

  @include r($lg) {
    margin-top: 0;
    max-width: 100%;
  }
}
