.terms-policy {
    padding: 143px 0 207px;
    letter-spacing: -0.02em;

    h1 {
        margin-bottom: 92px;
        max-width: 490px;
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.02em;
    }

    &__global {
        display: flex;
        justify-content: space-between;
    }

    &__part {
        max-width: 432px;

        h4 {
            margin-bottom: 58px;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.02em;
        }
    }

    &__box {
        display: flex;
    }

    &__date {
        margin-right: 20px;
        width: 100%;
        max-width: 172px;

        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: $grey-text;
        }

        span {
            display: block;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.01em;
        }
    }

    &__block {
        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: $grey-text;
        }

        a {
            position: relative;
            display: inline-block;

            //max-width: 160px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.01em;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: $black;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.3s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        a:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.info {
    max-width: 576px;

    h3 {
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.02em;
    }

    h4 {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: -0.01em;
    }

    p:not(:last-child) {
        margin-bottom: 32px;
    }

    ul {
        li {
            position: relative;
            padding-left: 18px;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 13px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $green;
            }

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    ol {
        li {
            position: relative;
            padding-left: 28px;
            list-style: none;

            &::after {
                content: "" counter(section) ".";
                position: absolute;
                left: 0;
                top: 0;
                width: 26px;
                height: 32px;
                counter-increment: section;
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: -0.01em;
                text-align: center;
            }

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
}
